# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log